

/*Index */

	#footer {
	
		background-color: #171717;
		color: white;
		text-align: center;
		p{
			margin-right: 0;
		}

		h2{
			text-align: center;
			color: white;
		}


		h4{
			color: white;
			margin-top: 3em;
		
		}

		hr{
			display: inline-block;
			width: 40px;
			border: .1em solid #596C3F;
			padding: 0;	
		}

	
		.icons{
			text-align: center;
			color: #97CB4F;
			margin-top: 3em;
		}
		.copyright {
			text-align: center;
			font-size: 0.8em;
			list-style: none;
			padding-left: 0;

			li {
				border-left: solid 1px _palette(border);
				color: white;
				display: inline-block;
				line-height: 1;
				margin-left: 1em;
				padding-left: 1em;

				&:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}

		@include breakpoint(xsmall) {
			#footer{
				text-align: center;
			}
			.copyright {
				li {
					display: block;
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
					line-height: inherit;
				}
			}
		}
	}