

/* Tiles */

.tiles {
	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	border-top: 0 !important;
	text-align: center;

	& + * {
		border-top: 0 !important;
	}

	article {
		
		@include vendor('display', 'flex');
		@include vendor('transition', (
			'transform 0.25s ease',
			'opacity 0.25s ease',
			'filter 1s ease',
			'-webkit-filter 1s ease'
		));
		@include padding(4em, 2em);
		background-position: contain;
		background-repeat: no-repeat;
		background-size: cover;
		cursor: default;
		height: 12.5em;
		max-height: 22em;
		min-height: 11em;
		overflow: hidden;
		position: relative;
		width: 100%;
		margin: 1em 0 0.68em 0;
		padding: 1em;

		.image {
			display: none;
		}

		header {
			position: relative;
			z-index: 20;
			display: inline;
			margin-left: 5em;
			padding-left: 2em;

			h3{
				color: white;
				margin-left: 3em;
				line-height: 1.2em;
				margin-top: 4em;
				font-size: 1.2em;
			}

		
		}

	
		.link.primary {
			border: 0;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 49;
			
		}

		&:before {
			@include vendor('transition', 'opacity 0.5s ease');
			bottom: 0;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0;
			position: absolute;
			width: 100%;
			z-index: 2;
		}

		&:after {
			background-color: (_palette(accent5), 0.75);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 8;
		}

		&:hover {
			&:before {
				opacity: .7;
			}
		}

		&.is-transitioning {
			
			@include vendor('filter', 'blur(0.5em)');
			opacity: 0;
		}

		&:nth-child(6n - 5) {
			&:before {
				background-color: _palette(accent5);
			}
		}

	}

}



.icon{
	font-size: 1.5em;
	
}






/************************** TilesLow****************************/

.tileslow {
	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	border-top: 0 !important;
	text-align: center;

	& + * {
		border-top: 0 !important;
	}

	article {
		
		@include vendor('display', 'flex');
		@include vendor('transition', (
			'transform 0.25s ease',
			'opacity 0.25s ease',
			'filter 1s ease',
			'-webkit-filter 1s ease'
		));
		@include padding(4em, 2em);
		background-position: contain;
		background-repeat: no-repeat;
		background-size: cover;
		cursor: default;
		height: 26.8em;
		max-height: 44em;
		min-height: 22em;
		overflow: hidden;
		position: relative;
		width: 100%;
		margin: 1em 0 0.68em 0;
		

		.image {
			display: none;
		}

		header {
			position: relative;
			z-index: 20;
			display: inline;
			margin-left: 5em;
			padding-left: 2em;

			h3{
				color: white;
				margin-left: 3em;
				line-height: 1.2em;
				margin-top: 4em;
				font-size: 1.2em;
			}

		
		}

	
		.link.primary {
			border: 0;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 49;
			
		}

		&:before {
			@include vendor('transition', 'opacity 0.5s ease');
			bottom: 0;
			content: '';
			display: block;
			height: 15%;
			left: 0;
			opacity: 0;
			position: absolute;
			width: 100%;
			z-index: 2;
		}

		&:after {
			background-color: (_palette(accent5), 0.75);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 8;
		}

		&:hover {
			&:before {
				opacity: .7;
			}
		}

		&.is-transitioning {
			
			@include vendor('filter', 'blur(0.5em)');
			opacity: 0;
		}

		&:nth-child(6n - 5) {
			&:before {
				background-color: _palette(accent5);
			}
		}

	}

}



.icon{
	font-size: 1.5em;
	
}